header.header  
    nav.nav.nav--tours  
        a.nav__el(href="/") All tours 
    .header__logo 
        img(src="/img/logo-white.png" alt='Natours Logo')

    nav.nav.nav__user 
        //- a.nav__el(href="#") My bookings 
        //- a.nav__el(href="#") All tours 
        //-     img.nav__user-img(src='img/user.jpg')
        //-     span Jonas
        a.nav__el(href='/login') Log in 
        a.nav__el.nav__el--cta(href="/signup") Sign up 
